sudo: false
language: node_js
node_js:
- '0.12'
- '4'
- '6'
- '8'
- '10'
- '11'
matrix:
  fast_finish: true
  allow_failures: []
cache:
  directories:
  - "$HOME/.npm"
  - "$HOME/.yarn-cache"
install:
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/1f4c6b3d2a0315d3fcd66e8a2cb5de31889ea87d/scripts/node-install.bash)"
before_script:
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/1f4c6b3d2a0315d3fcd66e8a2cb5de31889ea87d/scripts/node-verify.bash)"
after_success:
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/1f4c6b3d2a0315d3fcd66e8a2cb5de31889ea87d/scripts/surge.bash)"
- eval "$(curl -fsSL https://raw.githubusercontent.com/bevry/awesome-travis/1f4c6b3d2a0315d3fcd66e8a2cb5de31889ea87d/scripts/node-publish.bash)"
notifications:
  email:
    recipients:
      secure: ApTBcZ6enUPQemqYxbxA9Q6L1aUNHJmJFGHfZOzeZXB9ozVMaQBDgiUEA6mocUI233lVQAAqPeLQoc/RvpniF3Fa/rLfiYRFvrugdy7V/yfNbR5qrztNpcv7devBbpP0TjoIQF8PEy5ylLXbxqThLYQ9FI8W6fTxtm39GvG6kIs=
